
/* Messages :  */

.message{
    display: flex;
    align-items: center;
    justify-content: center ;
  }
  .message p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #808080;
    line-height: 1.3rem;
  }
  
  .rstcustom__rowContents {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0px 0px 0px !important;
    box-shadow: 0 0px 0px 0px !important;
    border-width: 0px !important;
  }

  .rstcustom__rowLabel {
    padding: 0px 0px 0px 0px !important;
}

.rstcustom__rowContents {
  -webkit-box-shadow: 0 0px 0px 0px !important;
  box-shadow: 0 0px 0px 0px !important;
  padding: 0 0px 0 0px !important;
}

.rstcustom__rowWrapper {
  padding: 0px 0px 0px 0 !important;
}


.rst__lineHalfHorizontalRight::before {
  height: 2px !important;
}

.rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
  background-color: #999 !important;
}

.rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
  width: 2px !important;
}

.rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
  background-color: #999 !important;
}

.rstcustom__lineChildren::after {
  background-color: #999 !important;
  width: 2px !important;
}


.rstcustom__collapseButton, .rstcustom__expandButton {
  box-shadow: 0 0 0 1px #999 !important;
}

.rst__placeholder {
  height: calc( 100vh - 95px - 20px) !important;
  max-width: 100% !important;
  padding: 0px !important;
}


/*custom scroll*/
::-webkit-scrollbar {
  width: 0px !important; }

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.50);*/
  border-radius: 0px;
  background-color: #ccc; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  width:7px;
  /*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.20);*/
  background: #999; 
}

/* .MuiPaper-root {
  background-color: rgba(0, 0, 0, 0.03) !important;
} */

p {
  text-align: center !important;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 24px !important;
  padding-left: 6px !important;
}

.filterSelected {
  right: 0;
  height: 10px;
  width: 10px;
  border: 1px solid #FFFFFF;
  background-color: #40A4DC;
  border-radius: 50%;
  top: 0px;
  position: absolute;
}


.bodyContainerWrapper {
    /* display: grid;
    place-items: center; */
    height: 100vh;
    background: #F7F4FD;
}

.bodyContainer {
  width: 60%
}

.tabPanelContainer {
  /* height:300px; */
  height: max-content;
  border-radius: 8px !important;
}

.tabPanelWrapper {
  padding: 0px !important;
  margin-top: 28px !important;
  border-radius: 8px !important;
}

.tabPanelWrapper > .MuiBox-root {
  padding:0px !important;
}

.noDisplay > .MuiBox-root > .tabPanelContainer {
  /* display: inline-flex !important; */
  box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 1px 3px 0px rgba(0, 0, 0, 0) !important;
  background: transparent !important;
}

.MuiTab-root {
  color: #333 !important;
}

.MuiTab-root.Mui-selected { /* Increase the specificity */
  color: #8A69FC !important;
}

@media (min-width: 600px) {
  .MuiTab-root{min-width: 100px !important;}
}

.profileContainer {
  padding: 36px;
}


.followButton {
  max-width: 150px;
  min-width: 100px
}

@media (max-width: 916px) {
  .tabPanelContainer{
    height: max-content;
  }
  .MuiAppBar-root {
    position: relative;
    top: 28px;
    left:0px;
    margin-top: 28px;
  }
}

.MuiAppBar-root {
  position: absolute !important;
  top: 28px !important;
  left:0px !important;
  margin-top: 28px !important;
}

.centeredContainer {
  display: grid;
  place-items: center;
}

.playlistCaption {
  font-family: Roboto script=latin rev=3;
  text-transform: capitalize;
  width: 300px;
  text-align: center;
}

.image-slider > div {
  border-radius: 8px
}