body,html{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body{
  margin:0;
  padding:0;
}
.leadlist{
  margin: 0 30px 0 0;
  font-size: 12px;
}
.MuiFormControl-root.MuiTextField-root.removeborder{
  margin: 0 0 0 10px;
  width: 116px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.btnsize{
  min-width: 5px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.btnsize:hover{
 background-color: transparent;
}
.removeborder.MuiInput-formControl.MuiInputBase-input.MuiInput-input{
  font-size: 10px;
}
.MuiInputLabel-shrink {
  /* transform: translate(0, 1.5px) scale(1)!important; */
}
.MuiButton-root:hover{
  /* background: transparent!important; */
  
}
.selectCampaign label{
  font-size: 10px;
}
.selectCampaign input{
  font-size: 12px;
  color:#333333
}
.selectCampaign .MuiFormControl-marginNormal
{
  margin-top: 8px;
}
.selectDisposition input {
  font-size: 12px;
  color:#333333;
}
.selectDisposition .MuiFormControl-marginNormal {
  margin: 0;
}
input#standard-basic{
  padding: 7px;
}
